doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    style(type='text/css').
      .information-spec span {
        font-weight: bold;
      }
      .rtl-content {
        text-align: right;
      }
      .rtl-content .text-left {
        text-align: right !important;
      }
  body
    .rtl-content.mt-5(dir='rtl')
      p.text-left.w-responsive.mx-auto.my-2
        | شكرا لتسجيلك معنا، سيقوم ممثل من مركزنا بالتواصل معك قريبا. ارجو سداد رسوم التسجيل الموضحة في الإعلان على الحساب البنكي ادناه:
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | اسم الحساب:
        span مركز رواد الموارد للا ستشارات
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | الايبان:
        span SA5160100023195000219001
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | البنك:
        span بنك الجزيرة
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | علما بأنه يجب ارسال صورة من الحوالة على البريد الالكتروني ادناه:
        span pm@eliteresources.co
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | سيتم حينها ارسال رسالة تأكيد مع صورة من الباركود التي يجب اظهارها وقت الدخول ليتم التسجيل.
      p.text-left.w-responsive.mx-auto.my-1.information-spec في حال وجود اي تحديات اثناء التسجيل ارجو التواصل مباشرة مع الرقم ادناه:
      p.text-left.w-responsive.mx-auto.my-1.information-spec(dir='ltr')
        span +966 566 6550 07
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        span أ. محمد الشرهان
    .mt-5(dir='ltr')
      p.text-left.w-responsive.mx-auto.my-2
        | Thank you for registering in our event. Our staff will communicate with you shortly. Kindly transfer the mentioned amount in the event's description in the following bank details:
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | Beneficiary Name:
        span Elite Resources Center
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | IBAN:
        span SA5160100023195000219001
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | Bank:
        span Al Jazira Bank
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | Note that a copy of the receipt MUST be sent to the below email to confirm the registration:
        span pm@eliteresources.co
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | Where after sending the  receipt a confirmation letter will be sent with the barcode access with your details to present to our representative when attending to be able to register your attendance.
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        | Upon facing any challenges in the registration process kindly communicate with the below number:
      p.text-left.w-responsive.mx-auto.my-1.information-spec(dir='ltr')
        span +966 566 6550 07
      p.text-left.w-responsive.mx-auto.my-1.information-spec
        span Mr. Mohammed Alsharhan
